<script>

//HIDE SHOW FULL TERMS AND CONDITIONS
  $(document).ready(function() {
    // hides the Full Ts &amp; Cs as soon as the page is loaded
      $('#terms').hide();$('#termshide').hide();
    // shows the Full Ts &amp; Cs
      $('#termsshow').click(function() {
      $('#terms').slideDown();$('#termsshow').hide();$('#termshide').show();
      return false;
      });0;
    // hides the Full Ts &amp; Cs
      $('#termshide').click(function() {
      $('#terms').slideUp();$('#termsshow').show();$('#termshide').hide();
      return false;
      });
  });


</script>
<style type="text/css">.ts-cs-button{
	   margin-bottom: 5px;
	   }

.BrandedButton {
display: flex;
align-items: center;
justify-content: center;
position: relative;
background-color: #68a51c;
width: 100%;
height: 40px;
border-radius: 4px;
padding: 0 16px;
font-family: Source Sans Pro,sans-serif;
font-size: 16px;
font-weight: 700;
color: #fff;
text-align: center;
text-decoration: none;
user-select: none;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
}

#termshide {
background-color: #538316;
}
.BrandedTitle {
    font-size: 22pt;
    color: #ee5c5f;
    font-weight: bold;
    margin:10px 10px;
    text-align: center;
    line-height: normal;
    padding-bottom: 10px;
    padding-bottom: 10px;
    }
.FullTermsTitle {font-size: 18pt;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    line-height: normal;
    }
.FullTermsSubT {font-size: 13pt;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
    line-height: normal;
    }
.FullTermsSubT2 {font-size: 11pt;
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
    line-height: normal;
    }

.container #mainContainer{
	background: none !important;
}
	.competition_container {width:100%}

.textwhite{
    color: #fff;
    }

.brandedheader{
    text-align: center;
	width: 100%;
    margin: 0 auto;
	margin-bottom: 15px;
    }

#bgwhite{
    background-color: #fff;
    padding: 20px;
    }

.sigterm{
    margin-top: 0px;
    }

.column1{
    margin-top: 5px;
	    }

	/* Numbered List */
ol {list-style: none; counter-reset: li; padding-left: 25px;}
ol li::before {content: counter(li); color: #000; font-weight: bold;
    display: inline-block; width: 2em; margin-left: -2.5em;
    margin-right: 0.5em; text-align: right;}
li {counter-increment: li; margin-bottom: 7px;}

		/* Letter Sub List */
ol.a {list-style: none; counter-reset: li}
ol.a li::before {content: counter(li, lower-alpha); color: #000; font-weight: bold;
    display: inline-block; width: 2em; margin-left: -2.5em;
    margin-right: 0.5em; text-align: right;}

		/* Roman Numerals Sub List */
ol.b {list-style: none; counter-reset: li}
ol.b li::before {content: counter(li, lower-roman); color: #000; font-weight: bold;
    display: inline-block; width: 2em; margin-left: -2.5em;
    margin-right: 0.5em; text-align: right;}

			/* Bullet Sub List */
ol.c {list-style: none; counter-reset: li}
ol.c li::before {content: counter(li, disc); color: #000; font-weight: bold;
    display: inline-block; width: 2em; margin-left: -2.5em;
    margin-right: 0.5em; text-align: right;}



li {
counter-increment: li;
}

  table {
  border-collapse: collapse;
  width: 50%;
}

td {
  border: 1px dotted #bebebe;
  font-size: 11px;
  text-align: left;
  padding: 8px;
}
	th {
  border: 1px dotted #bebebe;
  font-size: 12px;
  text-align: left;
  padding: 8px;
  color: #704bb4;
  background-color: #efefef;
}

tr:nth-child(even) {
  background-color: #FFF;
}

.TO-Banner {width: 100%; max-width:1064px;  padding:0px; margin-bottom:15px; display: block;  }

.TO-Banner-mob {width: 100%; max-width:1064px;  padding:0px; margin-bottom:15px; display: none; }



@media screen and (max-width:480px){.branded{display:none;}.ts-cs-button{display:none;}}

/* Mobile Large */
	@media screen and (max-width:480px){
	.TO-Banner {display: none;}
.TO-Banner-mob {display: block;}
	}
</style>
<div class="competition_container">
<div class="TO-Banner"><!--BANNER--><img alt="Light and Free Staycation competition" src="https://ui3.assets-asda.com/dm/AMP_1112_AGCaptureMarketingLightFreecompetitionP16Nov2020_ContentHeader1064x266?scl=1" style="width: 100%; max-width: 1064px;" /></div>

<div class="TO-Banner-mob"><!--BANNER--><img alt="Light and Free Staycation competition" src="https://ui3.assets-asda.com/dm/AMP_1112_AGCaptureMarketingLightFreecompetitionP16Nov2020_ContentHeader530 × 294?scl=1" style="width: 100%; max-width: 1064px;" /></div>

<div class="column">
<p>Terms and conditions apply. 18+, UK only. To enter visit www.secretescapes.com/lightandfree. Internet access required. Prize draw opens 00:01 on 01/11/2020 and closes 23:59 31/03/2021. No purchase required for Northern Ireland only. Prize: 7 holiday winners and 23 x &pound;250 Secret Escapes voucher winners in total (some restrictions apply). Maximum 1 entry per person. For full terms and conditions see below. Promoter: Secret Escapes Ltd, (registered number 07026107) 120 Holborn, London, EC1N 2TD.</p>

<div class="BrandedTitle">Light &amp; Free Secret Escapes competition</div>
</div>

<div class="bannerRow column12">
<div class="column column xlarge_colspan12 large_colspan12 colspan12 med_colspan12 small_colspan12">
<div><a class="BrandedButton btn" href="#" id="termsshow">View terms and conditions&nbsp;<span role="icon" data-auto-id="" class="asda-icon asda-icon--white asda-icon--regular asda-icon--rotate0"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M16.46 19.339l9.193-9.193a.5.5 0 01.707 0l.707.708a.5.5 0 010 .707l-9.546 9.546a2 2 0 01-2.829 0L5.146 11.56a.5.5 0 010-.707l.708-.708a.5.5 0 01.707 0l9.192 9.193a.5.5 0 00.707 0z" fill="#3d3d3d" class="asda-icon__draw" fill-rule="evenodd"></path></svg></span></a>
<a class="BrandedButton btn" href="#" id="termshide">Hide terms and conditions&nbsp;<span role="icon" data-auto-id="" class="asda-icon asda-icon--white asda-icon--regular asda-icon--rotate180"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M16.46 19.339l9.193-9.193a.5.5 0 01.707 0l.707.708a.5.5 0 010 .707l-9.546 9.546a2 2 0 01-2.829 0L5.146 11.56a.5.5 0 010-.707l.708-.708a.5.5 0 01.707 0l9.192 9.193a.5.5 0 00.707 0z" fill="#3d3d3d" class="asda-icon__draw" fill-rule="evenodd"></path></svg></span></a></div>
</div>
</div>
</div>

<div id="bgwhite">
<div id="terms" style=""><!--T&Cs INDIVIDUAL-->
<div class="FullTermsTitle">Full Terms and Conditions</div>

<ol>
	<li>By taking part in this promotion all participants will be deemed to have accepted and be bound by these terms and conditions.</li>
	<li>The prize draw is open to UK residents (England, Scotland, Wales and Northern Ireland) aged 18 or over excluding employees and their immediate families of Asda, Secret Escapes Ltd, (registered number 07026107) 120 Holborn, London, EC1N 2TD. (the &ldquo;Promoter&rdquo;), any company affiliated with the organisation [incl. Danone Ltd (Building 7 Chiswick Business Park, 566 Chiswick High Rd, London W4 5YG)], their agents or any other persons professionally connected with the draw.</li>
	<li>To enter scan the QR code found on promotional packs or visit www.secretescapes.com/lightandfree, enter a valid email &amp; mobile phone number, and the unique code on the lid (UK only) or answer the question of skill (Northern Ireland only) on the website to find out if you&rsquo;ve won. Entries or claims not received, incomplete, Illegible or delayed will not be accepted.</li>
	<li>Purchase necessary in England, Scotland and Wales. No purchase necessary for Northern Ireland. Internet access required.</li>
	<li>The opening date and time for receipt of entries is 00:01 on the 01/11/2020 and the closing date and time for receipt of entries is 23:59 on 31/03/2021.</li>
	<li>Maximum one entry per person per prize draw. Anyone trying to circumvent this condition by using alternative details will be disqualified. No bulk, consumer group or third party entries will be accepted.</li>
	<li>Prize: 7 holiday winners and 23 x &pound;250 Secret Escapes voucher winners in total for the UK incl. NI (some restrictions apply). Full T&amp;Cs see www.secretescapes.com/uk/2020/lightandfree/competition/terms</li>
	<li>The prize is non-transferable, non-refundable and cannot be exchanged for any cash alternatives in whole or in part. The decisions of the Promoter are final in relation to the promotion.</li>
	<li>The winners will be drawn at random by Secret Escapes from all submissions received between the entry date and the closing date. The winners will be notified immediately on submitting their entries of which category of prize they have won. For winners of holidays and &pound;250 gift vouchers, they will be contacted via email by Secret Escapes within 72 hours of their entry with the next steps of how to claim the prize. The winner must claim the prize no later than 7 days after the winner has been informed. If the winner rejects or fails to claim the prize on time, the prize may be awarded to other entrants at the absolute and sole discretion of the promoter.</li>
	<li>Winners consumer data will only be retained for the duration of the promotion and will not be used for any other purpose. Your personal details will at all times be kept confidential and in accordance with the Data Protection Act 2018. Click https://my.secretescapes.com/privacy-policy for the Promoter&rsquo;s Privacy Policy</li>
	<li>In the event of unforeseen circumstances, the promoter reserves the right to replace entire prizes or prize components with prizes of equal or greater value.</li>
	<li>The prize winner may be required to participate in and give their consent to related publicity including their names and photographs being used for promotional purposes and/or reasonable requests to take part in the Promoters&rsquo; publicity.</li>
	<li>Proof of sending an entry shall not constitute proof of receipt. No responsibility is accepted for entries that are lost, misdirected, late, damaged or illegible, nor for any associated costs.</li>
	<li>Winners&rsquo; names and counties may be obtained by sending a stamped, self-addressed envelope to: Secret Escapes Ltd, (registered number 07026107) 120 Holborn, London, EC1N 2TD, no later than 28 days after the closing date.</li>
	<li>The promoter shall not be liable for any loss or damage whatsoever, except for death or personal injury, arising out of the administration of prize draws, or out of the winner&rsquo;s or any third parties enjoyment of the prizes.</li>
	<li>Prizes are awarded at the promoter&#39;s discretion and no prizes will be awarded as a result of improper actions by or on behalf of any entrant.</li>
	<li>By entering the promotion, all entrants acknowledge that their personal data will be used by the Data Controller for the purposes of the administration of this promotion only, including contacting winning entrants. Entrants also acknowledge that when a third party asks for confirmation of a winner of a competition a promoter is required to provide the name of that winner and the county that he or she lives in. The Data Controller&#39;s privacy policy is available here: https://my.secretescapes.com/privacy-policy</li>
	<li>Promoter and Data Controller: Secret Escapes Ltd, (registered number 07026107) 120 Holborn, London, EC1N 2TD</li>
</ol>
</div>
</div>